<div>
    <h2 data-translate="jeanne3App.modelCar.home.title">Model Cars</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="model-car.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="jeanne3App.modelCar.home.createLabel">
                        Create new Model Car
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'jeanne3App.modelCar.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jeanne3App.modelCar.code">Code</span></th>
                    <th><span data-translate="jeanne3App.modelCar.name">Name</span></th>
                    <th><span data-translate="jeanne3App.modelCar.nbNormalRange">Nb Normal Range</span></th>
                    <th><span data-translate="jeanne3App.modelCar.nbSeatLeft">Nb Seat Left</span></th>
                    <th><span data-translate="jeanne3App.modelCar.nbSeatRight">Nb Seat Right</span></th>
                    <th><span data-translate="jeanne3App.modelCar.nbSeatBefore">Nb Seat Before</span></th>
                    <th><span data-translate="jeanne3App.modelCar.nbSeatBelow">Nb Seat Below</span></th>
                    <th><span data-translate="jeanne3App.modelCar.image">Image</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="modelCar in vm.modelCars track by modelCar.id">
                    <td><a ui-sref="model-car-detail({id:modelCar.id})">{{modelCar.id}}</a></td>
                    <td>{{modelCar.code}}</td>
                    <td>{{modelCar.name}}</td>
                    <td>{{modelCar.nbNormalRange}}</td>
                    <td>{{modelCar.nbSeatLeft}}</td>
                    <td>{{modelCar.nbSeatRight}}</td>
                    <td>{{modelCar.nbSeatBefore}}</td>
                    <td>{{modelCar.nbSeatBelow}}</td>
                    <td>
                        <a ng-if="modelCar.image" ng-click="vm.openFile(modelCar.imageContentType, modelCar.image)">
                            <img data-ng-src="{{'data:' + modelCar.imageContentType + ';base64,' + modelCar.image}}" style="max-height: 30px;" alt="modelCar image"/>
                        </a>
                        <span ng-if="modelCar.image">{{modelCar.imageContentType}}, {{vm.byteSize(modelCar.image)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="model-car-detail({id:modelCar.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="model-car.edit({id:modelCar.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="model-car.delete({id:modelCar.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
