
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRoutesLabel" data-translate="jeanne3App.routes.home.createOrEditLabel">Create or edit a Routes</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.routes.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.routes.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jeanne3App.routes.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.routes.code"
                    required/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jeanne3App.routes.distance" for="field_distance">Distance</label>
            <input type="number" class="form-control" name="distance" id="field_distance"
                    ng-model="vm.routes.distance"
                    />
        </div>

        <div class="form-group">
            <label data-translate="jeanne3App.routes.origin" for="field_origin">Origin</label>
            <select class="form-control" id="field_origin" name="origin" ng-model="vm.routes.origin" ng-options="city as city.name for city in vm.cities track by city.id" required>
            </select>
        </div>
        <div ng-show="editForm.origin.$invalid">
            <p class="help-block"
                ng-show="editForm.origin.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="jeanne3App.routes.destination" for="field_destination">Destination</label>
            <select class="form-control" id="field_destination" name="destination" ng-model="vm.routes.destination" ng-options="city as city.name for city in vm.cities track by city.id" required>
            </select>
        </div>
        <div ng-show="editForm.destination.$invalid">
            <p class="help-block"
                ng-show="editForm.destination.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
