
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myItineraireLabel" data-translate="jeanne3App.itineraire.home.createOrEditLabel">Create or edit a Itineraire</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.itineraire.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.itineraire.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jeanne3App.itineraire.dateDepart" for="field_dateDepart">Date Depart</label>
                <div class="input-group">
                    <input id="field_dateDepart" type="text" class="form-control" name="dateDepart" datetime-picker="{{dateformat}}" ng-model="vm.itineraire.dateDepart" is-open="vm.datePickerOpenStatus.dateDepart"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDepart')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateDepart.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateDepart.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateDepart.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jeanne3App.itineraire.dateArrive" for="field_dateArrive">Date Arrive</label>
                <div class="input-group">
                    <input id="field_dateArrive" type="text" class="form-control" name="dateArrive" datetime-picker="{{dateformat}}" ng-model="vm.itineraire.dateArrive" is-open="vm.datePickerOpenStatus.dateArrive"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateArrive')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateArrive.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateArrive.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateArrive.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="jeanne3App.itineraire.route" for="field_route">Route</label>
            <select class="form-control" id="field_route" name="route" ng-model="vm.itineraire.route" ng-options="routes as routes.code for routes in vm.routes track by routes.id" required>
            </select>
        </div>
        <div ng-show="editForm.route.$invalid">
            <p class="help-block"
                ng-show="editForm.route.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="jeanne3App.itineraire.classe" for="field_classe">Classe</label>
            <select class="form-control" id="field_classe" name="classe" ng-model="vm.itineraire.classe" ng-options="classe as classe.code for classe in vm.classes track by classe.id" required>
            </select>
        </div>
        <div ng-show="editForm.classe.$invalid">
            <p class="help-block"
                ng-show="editForm.classe.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="jeanne3App.itineraire.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" ng-model="vm.itineraire.company" ng-options="company as company.name for company in vm.companies track by company.id" required>
            </select>
        </div>
        <div ng-show="editForm.company.$invalid">
            <p class="help-block"
                ng-show="editForm.company.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="jeanne3App.itineraire.day" for="field_day">Day</label>
            <select class="form-control" id="field_day" name="day" ng-model="vm.itineraire.day" ng-options="day as day.name for day in vm.days track by day.id" required>
            </select>
        </div>
        <div ng-show="editForm.day.$invalid">
            <p class="help-block"
                ng-show="editForm.day.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
