<div>
    <h2 data-translate="jeanne3App.itineraire.home.title">Itineraires</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="itineraire.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="jeanne3App.itineraire.home.createLabel">
                        Create new Itineraire
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'jeanne3App.itineraire.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jeanne3App.itineraire.dateDepart">Date Depart</span></th>
                    <th><span data-translate="jeanne3App.itineraire.dateArrive">Date Arrive</span></th>
                    <th><span data-translate="jeanne3App.itineraire.route">Route</span></th>
                    <th><span data-translate="jeanne3App.itineraire.classe">Classe</span></th>
                    <th><span data-translate="jeanne3App.itineraire.company">Company</span></th>
                    <th><span data-translate="jeanne3App.itineraire.day">Day</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="itineraire in vm.itineraires track by itineraire.id">
                    <td><a ui-sref="itineraire-detail({id:itineraire.id})">{{itineraire.id}}</a></td>
                    <td>{{itineraire.dateDepart | date:'medium'}}</td>
                    <td>{{itineraire.dateArrive | date:'medium'}}</td>
                    <td>
                        <a ui-sref="routes-detail({id:itineraire.route.id})">{{itineraire.route.code}}</a>
                    </td>
                    <td>
                        <a ui-sref="classe-detail({id:itineraire.classe.id})">{{itineraire.classe.code}}</a>
                    </td>
                    <td>
                        <a ui-sref="company-detail({id:itineraire.company.id})">{{itineraire.company.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="day-detail({id:itineraire.day.id})">{{itineraire.day.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="itineraire-detail({id:itineraire.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="itineraire.edit({id:itineraire.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="itineraire.delete({id:itineraire.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
