
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDayLabel" data-translate="jeanne3App.day.home.createOrEditLabel">Create or edit a Day</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.day.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.day.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jeanne3App.day.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.day.code"
                    required ng-minlength="3" ng-maxlength="3"/>
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="3">
                    This field cannot be longer than 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jeanne3App.day.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.day.text"
                    required/>
            <div ng-show="editForm.text.$invalid">
                <p class="help-block"
                    ng-show="editForm.text.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jeanne3App.day.number" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                    ng-model="vm.day.number"
                    required/>
            <div ng-show="editForm.number.$invalid">
                <p class="help-block"
                    ng-show="editForm.number.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.number.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
